[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
local = 'python app.py'

[packages]
pandas = "*"
dash = "*"
dash-bootstrap-components = "*"
requests = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
