.spacer {
    flex: 1 1 auto
}

.card-list {
    padding: 0%;
}

.full-page{
    padding: 1%;
}

.icon{
    vertical-align: middle;
}

.short-spacer{
    padding-left: 30px
}

.temp-display{
    text-align: right
}